.toolbar-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 69px;
    background-color: #4c9689;
    display: flex;
    align-items: center;
    border-bottom: solid 1px white;
}

.toolbar-header {
    margin-left: 4%;
    display: flex;
}

.toolbar-app-logo {
    height: 38px;
}
.toolbar-app-title {
    padding-top: 3px;
    font-size: 36px;
    font-family: 'Spicy Rice', sans-serif;
    color: #FF8F0D;
    -webkit-text-stroke: 1px white;
    text-shadow:
        3px 3px 0 oldlace,
        -1px -1px 0 oldlace,  
        1px -1px 0 oldlace,
        -1px 1px 0 oldlace,
        1px 1px 0 oldlace;
}

.toolbar-options {
    display: flex;
    position: absolute;
    right: 20px;
    width: 30%
}

.toolbar-color-selector {
    position: relative;
    width: 75px;
    height: 30px;
    border-radius: 5px;
    margin-right: 10%;
}

#toolbar-clear-canvas {
    background-color: red;
    border: solid 1px oldlace;
    border-radius: 5px;
    color: white;
    font-size: 24px;
    font-weight: bold;
    padding: 2px 10px;
    outline: none;
}

.toolbar-spraysize-selector {
    outline: none;
    width: 75px;
    height: 28px;
    border-radius: 5px;
    border: solid 1px gray;
    font-size: 16px;
    margin-right: 10%;
}

#canvas {
    cursor: crosshair;
}